.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 78vh;
	background-color: black;
	color: white;
	padding: 20px;
}

.title {
	font-size: 2rem;
	margin-bottom: 20px;
}

.editorOutputContainer {
	display: flex; /* Используем flexbox для горизонтального расположения */
	width: 100%;
	max-width: 1200px; /* Максимальная ширина контейнера */
	flex-direction: row; /* По умолчанию - горизонтально */
}

@media (max-width: 768px) {
	/* Меньше 768px - для мобильных устройств */
	.editorOutputContainer {
		flex-direction: column; /* Меняем на вертикальное расположение */
	}
	.output {
		width: 100%; /* Ширина блока вывода на мобильных устройствах */
		margin-top: 20px; /* Отступ сверху для разделения с редактором */
	}
}
.codeMirror {
	flex: 1; /* Занимает оставшееся пространство */
	height: 600px; /* Высота редактора */
	background-color: #2c3e50; /* Темный фон для редактора */
	border: 1px solid #444; /* Цвет границы редактора */
	margin-right: 20px; /* Отступ справа для разделения с блоком вывода */
}

.output {
	width: 200px; /* Ширина блока вывода */
	background-color: #333;
	padding: 10px;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end; /* Выравнивание содержимого по нижнему краю */
}

.runButton {
	margin-top: auto; /* Отодвигает кнопку вниз */
	padding: 15px 30px;
	background-color: #9b59b6;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.3s;
}

.runButton:hover {
	background-color: #8e44ad;
}
