@font-face {
	font-family: 'Dusha';
	src: url('./public/font/Dusha V5 Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

:root {
	--font-default: 'Dusha', Arial, Helvetica, sans-serif;
	--background: #ffffff;
	--foreground: #171717;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
	}
}

body {
	color: var(--foreground);
	background: var(--background);
	font-family: var(--font-default);
}

html,
body {
	height: 100%; /* Устанавливаем высоту html и body равной 100% */
	margin: 0; /* Убираем внешние отступы */
}
